



@media screen and (max-width: 750px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

}
            .marketing .col-lg-4 img {
              transition: transform 0.5s ease; 
            }
          /* hover solo en pantallas grandes */
          /* -------- */
              @media screen and (min-width: 751px) {

                  /* Hover en imágenes de sección marketing */
                  .marketing .col-lg-4:hover img {
                      transform: scale(1.1); /* Zoom suave */
                  }
                  }
.col-lg-4 {
    margin-bottom: 30px; /* Espacio inferior entre las columnas */
    text-align: center; /* Centrar el contenido dentro de cada columna */
}
.txtpersonalizado {
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que prefieras */
    color: #3e75ad; /* Cambia el color según tu diseño */
    font-size: 3.5rem; /* Tamaño de fuente grande para el título */
    font-weight: bold; /* Negrita para resaltar */
    
}
.custom-cards-inicio{
  background-color: rgba(240, 239, 239, 0.603);
  
}

              .custom-cards-inicio .card img {
                transition: transform 0.5s ease;
              }

                /* hover solo en pantallas grandes */
          /* -------- */
              @media screen and (min-width: 751px) {

                  /* Hover en imágenes de cards */
                  .custom-cards-inicio .card:hover img {
                      transform: scale(1.1); /* Zoom suave */
                  }
                  }

.card-cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.589); /* blanco con 40% de opacidad */
  z-index: 1;
}

.card-cover > * {
  position: relative;
  z-index: 2;
  color: #222; /* texto oscuro para contraste */
}
.col img {
    border-radius: 20px;
    /* border: 4px solid rgba(38, 8, 126, 0.3); */
    box-shadow: 0 4px 8px rgba(199, 29, 29, 0.1);
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover; /* para que la imagen no se deforme */
}


.parrafo-para-empezar {
  text-align: justify;
  margin-top: 3rem;
  padding: 15px;
  border-radius: 10px;
  /* background-color: rgba(191, 236, 218, 0.705); */
  box-shadow: 7px 0 10px rgba(14, 191, 204, 0.4);
}

      /*inicio nuestros servicios DENTRO DE PARA EMPEZAR */
.parrafo-nuestrosvalores {
  
  text-align: justify;
  margin-top: 3rem;
  padding: 15px;
  border-radius: 10px;
  /* background-color: rgba(240, 239, 239, 0.705); */
  box-shadow:7px 0 10px rgba(14, 191, 204, 0.4);
}
.parrafo-nuestrosvalores ul {
  list-style: none; /* quita las viñetas por defecto */
  padding-left: 0;
}

.parrafo-nuestrosvalores li {
  margin-bottom: 2rem;
  padding-left: 28px;
  position: relative;
}

.parrafo-nuestrosvalores li::before {
  content: "🧩"; /* también puedes usar un emoji o un ícono con font-awesome */
  position: absolute;
  left: 0;
  color: #d8f404;
  font-weight: bold;
}


      /* fin nuestros servicios */

.carousel-item {
    height: 85vh; /* 75% de la altura de la ventana */
}


.carousel-item img {
    width: 100%;
    height: 100%; /* o ajusta a 70vh, 60vh, etc. */
    object-fit: cover; /* Para que la imagen se recorte y no se deforme */
  
}

#myCarousel h1 {
  font-weight: 700;
  font-style: normal;
  color:#ffffff;
}

#myCarousel p {
    
    font-weight: 800;
    font-style: normal;
    font-size: 19px;
}
/* overlay!! opacidad detras del texto*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.438); /* Fondo negro con opacidad */
    padding: 10px;
    margin-bottom: 6rem;
    border-radius: 10px;
    
}
.separacion-seccion {
padding: 3rem 3rem;
border-top: #979494 1px solid;
}


